    <!-- TITLE -->

 <h1>Emails List</h1>


    <!-- BTN GET -->
<div class="generate_email">
  <%= form_tag(create_email_path, method: :post, class: "form", remote: true) do %>
         <%= create_email_path %>
    <%= submit_tag 'Recevoir un email'%>
  <% end %>
</div>
<hr>


    <!-- LISTE DES MAILS -->
<div id= "email-list">
<CENTER>
	<TABLE width=90% border=2>
		<TR>
			<TD align = center width=20% > Liste des Emails </TD>
			<TD align = center width=80% > Contenu de l'Email </TD>
		</TR>
			
      	<% @emails.each do |email| %>
		<TR id="visionnage">		
			<TD  align = center width = 20% > <b> <%= email.object %> </b> </TD>
			<TD  align = center width = 80% > <a> <%= link_to "Visionner email : "+ email.object, email_path(:id => email.id) %> </TD>
		</TR>
				<% end %>
	</TABLE>
</CENTER> 
<footer>
  
</footer>
