    <!-- TITLE -->

 <h1>Emails List</h1>


    <!-- BTN GET -->
<div class="generate_email">
  <%= form_tag(create_email_path, method: :post, class: "form") do %>

    <%= create_email_path  %>

    <%= submit_tag 'Recevoir un email'%>
  <% end %>
</div>
<hr>
    <!-- BTN CREATE -->

<div class="form">
  <%= form_tag(root_path, method: :post, class: "form") do %>
    <label for="Object">Object
    <%= text_field_tag  :object %>

    <label for="Selected Email">body
    <%= text_field_tag :body  %>

    <%= submit_tag 'Écrire un email', :name => 'commit'%>
  <% end %>
</div>

    <!-- LISTE DES MAILS -->
<div id= "email-list">
<CENTER>
	<TABLE width=90% border=2>
		<TR>
			<TD align = center width=20% > Liste des Emails </TD>
			<TD align = center width=80% > Contenu de l'Email </TD>
		</TR>
				<% @emails.each do |email| %>
		<TR>		
			<TD  align = center width=20%><b> <%= email.object %> </b></TD>
			<TD  width = 80% > <i> <%=  "   "   %> </i> </TD>
		</TR>
				<% end %>
	</TABLE>
</CENTER> 
</div>
  

